@use 'variables';
@use 'mixin';

body {
  background-image: url(../galeria/fondomad.jpg);
}

.header {
  background-color: rgba(33, 37, 41, 0.95);
}


#logo {
  animation: animlog 3s linear infinite;
  /*Animación nueva*/
  font-family: variables.$font-family_1;
  font-size: 2em;
  color: variables.$titulo;
}

#logo:hover {
  color: #fff;
  animation: animlog 0.8s linear infinite;
}

@keyframes animlog {

  0%,
  7% {
    transform: rotateZ(0);
  }

  15% {
    transform: rotateZ(-15deg);
  }

  20% {
    transform: rotateZ(10deg);
  }

  25% {
    transform: rotateZ(-10deg);
  }

  30% {
    transform: rotateZ(6deg);
  }

  35% {
    transform: rotateZ(-4deg);
  }

  40%,
  100% {
    transform: rotateZ(0);
  }
}

.nave-item {
  list-style: none;
  display: flex;
  /*border-radius: 30px;*/
  margin-top: 15px;
  @include mixin.efecto;

  &:hover {
    @include mixin.efsobre;
  }
}

.no-a {
  color: variables.$texto;
  text-decoration: none;
}

.navebar {
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
}

.nave-menu {

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}


.logo {
  font-size: 2rem;
}

.nave-link {
  transition: 0.7s ease;

  &:hover {
    color: variables.$titulo;
  }
}

.hamburger {
  display: none;
  cursor: pointer;
}

.barra {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: variables.$texto;
}

@media screen and (max-width: 768px) {
  .hamburger {
    display: block;
  }

  .hamburger.active {
    .barra {
      &:nth-child(2) {
        opacity: 0;
      }

      &:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
      }

      &:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
      }
    }
  }

  .nave-menu {
    position: absolute;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background-color: rgba(6, 14, 26, 0.788);
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }

  .nave-item {
    margin: 16px 0;
  }

  .nave-menu.active {
    left: 0;
  }
}

.titulo_subti {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 60px;
  position: relative;
  font-size: 3vw;
  text-transform: uppercase;
}

.titulo_subti::before {
  content: attr(data-text);
  position: absolute;
  height: 60px;
  color: variables.$texto;
  -webkit-text-stroke: 0vw;
  border-right: 2px solid variables.$texto;
  overflow: hidden;
  animation: animate 5s linear infinite;
}

@keyframes animate {
  0% {
    width: 0;
  }

  50% {
    width: 70%;
  }

  90% {
    width: 100%;
  }
}

span {
  font-family: "Permanent Marker", cursive;
  font-size: 1em;
  color: variables.$titulo;
}


.contenedor {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: rgba(245, 245, 220, 0.233);
  height: 500px;
  width: 100%;

}

#ima1 {
  width: 100%;
  height: 500px;

}

.conte {
  width: 400px;
  height: 500;
  background-color: rgba(6, 14, 26, 0.788);

}

#saludo {
  text-align: center;
  color: #fff;
  margin-top: 50px;
  font-family: "Permanent Marker", cursive;
  background-color: rgba(35, 66, 165, 0.555);
}

#texto {
  color: #fff;
  font-size: 20px;
  text-align: center;
  margin-top: 80px;
  padding-left: 10px;
  padding-right: 10px;
}

@media screen and (max-width: 1100px) {
  .contenedor {
    flex-direction: column;
    margin-bottom: 130px;
  }

  #ima1 {
    border-radius: 0;
    width: auto;
  }

  .conte {
    width: 100%;
    border-radius: 0;
    height: auto;
    margin-bottom: 50px;
  }

  #saludo {
    margin-top: 5px;
  }

  #texto {
    margin-top: 2%;
  }
}

@media screen and (max-width: 768px) {
  .contenedor {
    align-content: center;
  }
}

@media screen and (max-width: 500px) {
  .contenedor {
    margin-bottom: 20px;
  }

}

/*# sourceMappingURL=style2.css.map */